.habit-modal {
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.hidden {
	display: none;
}

.popup-modal {
    background-color: rgb(167, 167, 167);
    margin: auto;
    padding: 10px 5px;
    border: 2px solid darkblue;
    width: 100%;
    max-width: 500px;
    text-align: center;
    place-items: center;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(53, 53, 53, 0.616);
}

.popup-modal label {
    font-size: 20px;
    margin: 5px;
}

.popup-modal input, select, #hFrequency  {
    text-align: center;
    border-radius: 10px;
    border: 1.5px solid darkblue;
    padding: 8px 5px;
    margin: 10px 5px;
}

#submitHabit {
    width: 30%;
    margin: auto;
    cursor: pointer;
}

#submitHabit:hover {
    background-color: darkblue;
    color: white;
}


.popup-modal h1 {
    font-size: 40px;
    color:darkblue;
    text-align: center;
}

.fa-times {
    color: rgb(50, 50, 187);
    font-size: 30px;
    float: right;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}



