@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, #1f0101, #16060e, #01141b, #011f18);
    background-size: 300% 300%;
    animation: gradient 11s ease infinite;
    font-family: 'Poppins', sans-serif;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

#logo {
    width: 50px;
    height: 50px;
    margin-top:10px;
    
}

h1 {
    color: white;
}

#welcomeUser {
    color: black;
    font-size: 15px;
}

header {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-items: center;
}

#logoutarea {
    display: flex;
    align-items: center;
    
       
}

#logout {
    width: 80px;
    height: 40px;
    align-content: center;
    border-radius: 7px;
    border-style: none;
    cursor: pointer;
    background-color: white;
    color: black;
    font-size: 17px;
    box-shadow: 1px 1px 4px white;
    font-family: 'Poppins', sans-serif;
}

#logout:hover {
    background: -webkit-linear-gradient(right,#051e36,#350933,#0a1c2c, #270627);
    color: white;
}

.profilearea {
    margin: 10px;
    display: flex;
    justify-content: center;

}

#profile { 
    margin: 30px;
    display: flex;
    background-color: white;
    width: 65%;
    height: 60px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px white;
}

#profile p {
    padding-left: 10px;
}

#addhabit {
    margin: 10px 10px 10px auto;
    border-radius: 7px;
    border-style: none;
    cursor: pointer;
    background: -webkit-linear-gradient(right,#051e36,#350933,#0a1c2c, #270627);
    color: white;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

#addhabit:hover {
    background: white;
    color: black;
    box-shadow: 1px 1px 4px black;
    font-family: 'Poppins', sans-serif;
}

.habits {
    margin: 10px;
    display: flex;
    justify-content: center;
}

#habitdet { 
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    
    background-color: white;
    width: 65%;
    height: 150px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px white;
}

#one {
    display: flex;
    background-color: white;
    width: 200px;
    height: 50px;
      
}

#exercise {   
    margin-top: 10px;
    
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 25px;
}

#two {
    display: flex;
    background-color: white;
    width: 300px;
    height: 50px;
    
}

/* #frequency {
    margin-top: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 25px;
} */

#three {
    margin-left: 5px;
    display: grid;
    grid-template-columns: 58% 16% 25%;
    width: 100%;
    justify-items: center;
    
}

#pie {
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 95%;
    height: 25px;
}

#tick {
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    height: 25px;    
}

#delete {
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    height: 25px;
}

footer {
    color: rgb(80, 80, 80);
    display: grid;
    margin-left: 40%;
    bottom: 0;
}

#habitsContainer {
    margin: 10px;
    display: grid;
    justify-content: center;
} 

#habitDiv {
    margin: 30px;
    display: block;
    background-color: white;
    width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 4px white;
}

#hNameElement {
    font-size: 30px;
    color: darkblue;
    text-align: center;
}

#hFrequencyElement {
    font-size: 20px;
    color: darkblue;
    text-align: center;
    margin-top: -20px;


}

#freqTargetElement {
    font-size: 19px;
    color: black;
    text-align: center;
}

#deleteBtn {
    width: 25%;
    margin: auto;
    border-radius: 7px;
    border-style: none;
    cursor: pointer;
    background: -webkit-linear-gradient(right,#051e36,#350933,#0a1c2c, #270627);
    color: white;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    float: right;
    margin-bottom: 10px;
    margin-right: 5px;
}

