body{
    margin: 0;
    background-color: black;
    
}

h1 {
    color: white;
    
}

header {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-items: center;
}

#logoutarea {
    display: flex;
    align-items: center;
    
       
}

#logout {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    align-content: center;
}

.profilearea {
    margin: 10px;
    display: flex;
    justify-content: center;

}

#profile { 
    margin: 30px;
    display: flex;
    background-color: white;
    width: 65%;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
}

#profile p {
    padding-left: 10px;
}

#addhabit {
    margin: 10px 10px 10px auto;

}

.habits {
    margin: 10px;
    display: flex;
    justify-content: center;
}

#habitdet { 
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;    
    background-color: white;
    width: 65%;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
}

#one {
    display: flex;
    background-color: white;
    width: 200px;
    height: 50px;          
}

#exercise {   
    color: black;
    margin-top: 10px;
    font-size: larger;    
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#two {
    display: flex;
    background-color: white;
    width: 300px;
    height: 50px;
    
}

#frequency {
    margin-top: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#three {
    
    display: grid;
    grid-template-columns: 50% 10% 10% 30%;
    width: 100%;
    justify-items: center;
    
}

#incrementText {
    color: black;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 95%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#incBtn {
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    height: 25px;    
}

#decBtn {
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    height: 25px;    
}


#delete {
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 92.5%;
    height: 25px;
}


